* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*====================================== CLASES PARA NAV ======================================*/
header {
    background: #fff;
    opacity: 0.9;
    width: 100%;
    content: "";
    clear: both;
    display: table;
    margin-bottom: 20px;
  }
  header .logo {
    width: 35vh;
    height: 13vh;
    position: absolute;
    left: 83%;
  }
  header nav {
    float: left;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  header nav ul li {
    list-style: none;
    margin-left: 60px;
    padding: 25px 0;
    float: left;
  }
  header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
  }
  header nav ul li a::before {
    width: 100%;
    background: rgba(179, 180, 241, 0.24);
    height: 5px;
    top: 0;
    position: absolute;
  }
  /*================================= CLASES PARA INDEX ==========================================*/
  .bgIndexTiutlo {
    background: rgb(93, 93, 93);
  }
  
  .textoIndex {
    display: flex;
    position: relative;
    height: 200px;
    align-items: center;
    justify-content: center;
  }
  .textoIndex .textoIndex2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    margin: 30px;
    padding: 20px;
    color: #b0e9ec;
  }
  
  .containerCarrusel {
    height: 500px;
  }
  .containerCarrusel .containerTextoCarrusel {
    background: rgba(5, 7, 12, 0.75);
    position: relative;
    width: 35%;
    bottom: 550px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #fffcfc;
  }
  .containerCarrusel .containerTextoCarrusel1 {
    background: rgba(5, 7, 12, 0.75);
    position: relative;
    width: 35%;
    bottom: 700px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #fffcfc;
  }
  .containerCarrusel .containerTextoCarrusel2 {
    background: rgba(5, 7, 12, 0.75);
    position: relative;
    width: 35%;
    bottom: 700px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #fffcfc;
  }
  .containerCarrusel .palabraCarrusel1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .containerCarrusel .palabraCarrusel3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #fbb167;
  }
  
  .preguntaIndex {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    background: #333;
    letter-spacing: 5px;
    color: #fff;
    height: 80px;
    padding: 20px;
  }
  
  .container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffffff;
  }
  .container1 .card1 {
    position: relative;
    width: 315px;
    height: 350px;
    margin: 20px;
  }
  .container1 .card1 .cara1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    background: #CECECD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .container1 .card1 .cara1 .img {
    width: 100%;
    height: 200px;
  }
  .container1 .card1 .front {
    transform: perspective(600px) rotateY(0);
    font-family: Arial, Helvetica, sans-serif;
  }
  .container1 .card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background-size: cover;
    padding: 15px;
    color: #0e0d0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .container1 .card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .container1 .card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  
  .containerSegundaFrase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  .containerSegundaFrase .segundaFrase {
    width: 50%;
    height: 100%;
    background: #333;
  }
  .containerSegundaFrase .textoFrase {
    width: 100%;
    text-align: justify;
    letter-spacing: 2px;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .containerSegundaFrase .textoFrase .fraseIndex {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 25px;
    font-size: 23px;
  }
  .containerSegundaFrase .imgIndex2 {
    background: url(../img/imgINDEX3.png) no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 100%;
  }

  .containerBotonIndex {
    background: linear-gradient(to right, #ffefba, #ffffff);
    height: 30vh;
    color: rgb(0, 0, 0);
  }
  .containerBotonIndex h4 {
    padding: 10px;
    position: relative;
    top: 40px;
    left: -15%;
  }
  .containerBotonIndex .btn {
    display: inline-flex;
    width: 30vh;
    height: 40px;
    background: linear-gradient(to left, rgb(19, 18, 18), rgb(53, 51, 51));
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease all;
    border-radius: 5px;
    position: relative;
    font-weight: 500;
    left: 20%;
    top: 60px;
    overflow: hidden;
  }
  .containerBotonIndex .btn span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
    color: white;
  }
  .containerBotonIndex .btn .uno::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 40px);
    border-right: 0px solid transparent;
    border-bottom: 40px solid rgb(55, 252, 120);
    transition: 0.4s ease-in-out all;
  }
  /*================================= CLASES PARA NOSOTROS ==========================================*/
  .containerVision {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    background: url(../img/imgMuestra.jpg) no-repeat center center;
    min-height: 250px;
    background-size: cover;
  }
  .containerVision .InfoVisionTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .containerVision .InfoVisionTexto .fraseNosotros2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    margin: 30px;
    padding: 20px;
  }
  
  .containerVision::before {
    content: "";
    width: 100%;
    min-height: 250px;
    position: absolute;
    background: #0e0d0d;
    opacity: 0.2;
  }
  .textoNosotrosVision {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    width: 70%;
    background: #333;
  }
  .textoNosotrosVision .preguntaNosotros {
    color: #ffefba;
  }
  .textoNosotrosVision .conteinerImgNosotros {
    width: 30%;
  }
  .textoNosotrosVision .conteinerImgNosotros .imgEquipo {
    position: relative;
    left: 60%;
    height: 577px;
    width: 600px;
  }
  .fundadoraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    color: black;
  }
  .fundadoraContainer .infoFundadora {
    width: 40%;
    margin: 10px;
    padding: 0px 0px 10px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .fundadoraContainer .infoFundadora .bordeValores {
    border-top: 3px solid #333;
  }
  .fundadoraContainer .textoFundadora {
    width: 60%;
    margin: 20px;
    padding: 10px;
  }
  .fundadoraContainer .imgFundadora {
    position: relative;
    left: -10%;
    width: 300px;
    height: 200px;
    top: 10px;
    border-radius: 50%;
    margin: 10px;
  }
  .fondoValores {
    background: #333;
    min-height: 170px;
  }
  .fondoValores .Titulos2 {
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
  }
  .fondoValores .Titulos3 {
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .textoValores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    letter-spacing: 2px;
    height: 20px;
  }
  
  .cardContainerNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .cardContainerNosotros .cardNosotros {
    background: #ffffff;
    height: 500px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
  }
  .cardContainerNosotros .cardNosotros .imgValores {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .cardContainerNosotros .cardNosotros .cardNosotrosTitulo {
    letter-spacing: 5px;
    font-weight: 300;
  }
  .cardContainerNosotros .cardNosotros .card-text1 {
    letter-spacing: 2px;
    border-top: 3px rgb(235, 171, 74) solid;
    margin: 10px;
  }
  .bordeValores2 {
    border-top: solid 3px #333;
  }
  .bordeValores2 .tituloClientes {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif, ExtraLight 200;
    letter-spacing: 3px;
  }

  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .sliderTrack {
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: 2800px;
  }
  .slider .sliderTrack .slide {
    width: 200px;
    margin: 15px;
    padding: 15px;
  }
  .slider .sliderTrack .slide img {
    width: 100%;
    height: 80px;
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-1400px);
      transform: translateX(-1400px);
    }
  }
/*================================= CLASES BUSQUEDAS ==========================================*/
.containerBusquedasTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
  }
  .containerBusquedasTitulo .fondoBusquedas {
    background: url(../img/fondoBusquedas.jpg) no-repeat center center;
    height: 300px;
    width: 45%;
    background-size: cover;
    position: relative;
    right: 100px;
  }
  .containerBusquedasTitulo .infoBusquedas .infoBusquedas2 h2 {
    margin: 20px;
    padding: 15px;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: solid 2px #0e0d0d;
  }
  
  .fondoBusquedas::before {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    background: black;
    opacity: 0.3;
  }
  .fondoBusquedas2 {
    width: 45%;
    height: 100%;
    margin: 20px;
  }
  .fondoBusquedas2 .infoBusquedas3 {
    width: 55%;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .fondoBusquedas2 .infoBusquedas3 .bordeBusquedas {
    border-bottom: solid 2px white;
  }
  .displayBusquedas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }
  .displayBusquedas .imgBusquedas {
    width: 100%;
    height: 400px;
  }
/*================================= CLASES PARA CONTACTO ==========================================*/
.fondoContacto {
    background: url(../img/fondoContacto2.jpg) no-repeat center center;
    min-height: 50%;
    background-size: cover;
  }
  .fondoContacto .pagContacto {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .fondoContacto .pagContacto .contenidoContacto {
    max-width: 800px;
    text-align: center;
  }
  .fondoContacto .pagContacto .contenidoContacto2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .infoContacto .caja {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .caja .inconoContacto {
    position: relative;
    right: 50px;
    top: 50px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .caja .socialLink {
    height: 60px;
    width: 100px;
    font-size: 50px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .caja .textoContacto {
    display: flex;
    margin-left: 20px;
    font: 16px;
    color: rgb(206, 240, 253);
    flex-direction: column;
    font-weight: 300;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto {
    width: 40%;
    padding: 40px;
    background: #fff;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input:focus ~ span,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input:valid ~ span,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja textarea:focus ~ span,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input[type=submit] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  
  .fondoContacto::before {
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
    margin-top: 97px;
  }
/*================================= CLASES PARA FOOTER ==========================================*/
footer {
    position: absolute;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, rgb(19, 18, 18), rgb(53, 51, 51));
    color: rgb(206, 206, 205);
  }
  footer .footerContainer {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .footerContainer .footerContainerContenido {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
  }
  footer .footerContainer .footerContainerContenido .logoFooter {
    width: 35vh;
    height: 13vh;
    position: absolute;
    right: 95%;
  }
  footer .footerContainer .footerContainerContenido .logoFooter .logo2 {
    width: 35vh;
    height: 13vh;
    position: absolute;
    left: 83%;
  }
  footer .footerContainer .footerContainerContenido .menuTituloFooter {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  footer .footerContainer .footerContainerContenido .socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
  }
  footer .footerContainer .footerContainerContenido .socialContainer .socialLink {
    height: 60px;
    width: 30px;
    font-size: 60px;
  }
  footer .footerContainer .footerContainerContenido .socialContainer .iconoFooter2 {
    margin: 25px;
  }
  /*================================= CLASES COMPARTIDAS ==========================================*/
  .hijoFondo{
    color: white;
    position: relative;
}
.transicionHover:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(114, 113, 113);
    border: 1px solid rgb(12, 12, 12);
    transition: all 1s;
  }