
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'EB Garamond', serif;
}
/*////////////////////////////////////////////////// SPAN COLOR VER COMO MODIFICAR///////////////////////////////// */
span{
    color: #c2fbff;
}
/*================================= CLASES PARA INDEX ==========================================*/
.bgIndexTiutlo{
    background: url(../img/imgMuestra6.jpg) no-repeat center center;;
     height: 500px;
     background-size: cover;
    }
    .bgIndexTiutlo::before{
        content: "";
        width: 100%;
        height:500px;
        position: absolute;
        background: linear-gradient(-45deg, #1d1b1b, #171a1d); 
        opacity: 0.5;
    }
.fondoMision{
    background: url(../img/imgMuestra.jpg) no-repeat center center;
    min-height: 400px;
    background-size: cover;
}
.fondoMision::before{
    content: "";
    width: 100%;
    height:400px;
    position: absolute;
    background: linear-gradient(-45deg, #0a0a09, #2e2e2d); 
    opacity: 0.4;
}
.textoFrase{
    width: 100%;
    text-align: justify;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    padding: 20px;
}
.fraseIndex{
    margin-top: 100px;
}
.containerIndexImg{
    position: relative;
}

.slider2{
    width: 50vw;
    height: auto;
    margin: auto;
    overflow:hidden;
}
.slider2 .sliderTrack2{
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200 * 9);
}
.slider2 .slide2{
    width: 100%;
    margin: 15px;
    padding: 15px;
}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200 * 9));
        transform: translateX(calc(-200 * 9));
    }
}
.textoIndex{
    position: relative;
    margin: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: flex-start;
}
.textoIndex2{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    width: 100%;
    color: #f98715;
}
.tituloIndex{
    width: 100%;
    position: relative;
    color:#f98715;
    left: 4%;
    margin: 20px;
}

.tituloMuestra{
    position: relative;
    left: 10%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.pregunta{
    font-family: 'Montserrat', sans-serif, ExtraLight 200;
    font-size: 2rem;
    letter-spacing: 5px;
}

.container1{
     width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    } 
   
    
    .card1{
        position: relative;
        width: 315px;
        height: 350px;
        margin: 20px;
       
        }
       .card1 .cara1{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
        background: #CECECD;
        box-shadow: 0 2px 2px rgba(0,0,0, 0.2); 
        text-align: center;
      
       }
       .card1 .front{
        transform: perspective(600px) rotateY(0);
        font-family:Arial, Helvetica, sans-serif ;
       }
       
        .card1 .back{
            transform: perspective(600px) rotateY(180deg);
            /* background: url(../img/imgBack2.jpeg) no-repeat center center; */
            background-size: cover;
            padding: 15px;
            color:#0e0d0d;
            display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .card1:hover .front{
            transform: perspective(600px) rotateY(180deg);
        }
        .card1:hover .back{
            transform: perspective(600px) rotateY(360deg);
                    }

        .fondoBoton{
            background: url(../img/card6.jpg) no-repeat center center;
            min-height: 40vh;
            background-size: cover;
        }
        .fondoBoton::before{
            content: "";
            width: 100%;
            height: 40vh;
            position: absolute;
            background: linear-gradient(-45deg, #e2f3ff, #79b7ce, #595a5a); 
            opacity: 0.8;
        }
 /*================================ CLASES PARA NOSOTROS.HTML==========================================*/       

.containerVision{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    background: url(../img/imgMuestra.jpg) no-repeat center center;
    min-height: 250px;
    background-size: cover;
   
}
.containerVision::before{
    content: "";
    width: 100%;
    min-height:250px;
    position: absolute;
    background: #0e0d0d; 
    opacity: 0.7;
}
 .infoMision{
    width: 30%;
    height: 200px;
    letter-spacing: 4px;
    padding: 0px 0px 5px;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
.infoMision2{
    width: 70%;
    height: 200px;
    letter-spacing: 4px;
    padding: 0px 0px 5px;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.InfoVisionTexto{
    display: flex;
justify-content: center;
align-items: center;
width: 100%;

}

.misionImg{
    width: 300px;
    height: 200px;
    left: -10%;
    margin: 5px;
    position: relative;
   
}
/* .fondoTitulosImg{
    background: url(../img/imgMuestra6.jpg) no-repeat center center;
    min-height: 200px;
    background-size: cover;
}
.fondoTitulosImg::before{
    content: "";
    width: 100%;
    min-height:200px;
    position: absolute;
    background: #0e0d0d; 
    opacity: 0.5;
} */
.Titulos2{
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    margin-top: 20px;
}
.bordeValores{
    border-top: 3px solid orange;
}
.Titulos3{
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    border-bottom: 3px solid orange;
    margin-bottom: 30px;
}
.cardContainerNosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.cardNosotros{
    background: #ffffff;
    height: 500px;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    align-items: center;
}

.cardNosotrosTitulo{
    letter-spacing: 5px;
    font-weight: 300;
}
.card-text1{
    letter-spacing: 2px;
    border-top: 3px rgb(235, 171, 74) solid;
    margin: 10px;
}

.fundadoraContainer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    color: black;
    border-top: 3px solid orange;
}
.fundadoraContainer .infoFundadora{
    width: 60%;
    margin: 20px;
    padding: 0px 0px 10px;
text-align: center;
align-items: flex-end;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fundadoraContainer .imgFundadora{
    position: relative;
    left: -20%;
    width: 300px;
    height: 200px;
    top: 10px;
    border-radius: 50%;
    
}
.tituloClientes{
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif, ExtraLight 200;
    letter-spacing: 3px;
}
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .sliderTrack{
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}
.slider .slide{
    width: 200px;
    margin: 15px;
    padding: 15px;
}
.slider .slide img{
    width: 100%;
    height: 65px;

}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}
 /*============================================ CLASES PARA CONTACTO.HTML=======================================*/     
 .fondoContacto{
    background: url(../img/fondoContacto2.jpg) no-repeat center center;
    min-height: 50%;
    background-size: cover;
}
.fondoContacto::before{
    content: "";
    width: 100%;
    height:800px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
   margin-top: 97px;
   
}
.pagContacto{
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pagContacto .contenidoContacto{
    max-width: 800px;
    text-align: center;
}
.containerContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containerContact .infoContacto{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerContact .infoContacto .caja{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerContact .infoContacto .caja .icono{
    min-width:60px;
    height:60px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.inconoContacto{
    margin-right: 30px;
}
.containerContact .infoContacto .caja .textoContacto{
    display: flex;
    margin-left: 20px;
    font: 16px;
    color: rgb(206, 240, 253);
    flex-direction: column;
    font-weight: 300;
}
.containerContact .infoContacto .caja .textoContacto h2{
    font-weight: 500;
    color: #00bcd4;
}
.formularioContacto{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.formularioContacto h3{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.formularioContacto .inputCaja{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.formularioContacto .inputCaja input,
.formularioContacto .inputCaja textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
border-bottom: 2px solid #333;
outline: none;
resize: none;
}
.formularioContacto .inputCaja span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.formularioContacto .inputCaja input:focus ~ span,
.formularioContacto .inputCaja input:valid ~ span,
.formularioContacto .inputCaja textarea:focus ~ span,
.formularioContacto .inputCaja textarea:valid ~ span
{
color: #e91e63;
font-size: 12px;
transform: translateY(-20px);
}
.formularioContacto .inputCaja input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
/*==================================== CLASES PARA BUSQUEDAS ============================================*/
.fondoBusquedas{
    background: url(../img/busquedasFondo.jpg) no-repeat center center;
    min-height: 100vh;
    background-size: cover;
}
.fondoBusquedas::before{
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
   margin-top: 77px;
   
}
.containerBusqueda{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
}

.containerBusqueda .infoBusqueda{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.listaBusquedas{
    position: relative;
    padding: 50px 100px;
    

}
.listaBusquedas li{
    display: flex;
    margin-left: 20px;
    font: 16px;
    color: rgb(206, 240, 253);
    flex-direction: row;
    font-weight: 300;
}
/*================================================= CLASES COMPARTIDAS ======================================*/
.fondoInicio{
    background-color: white;
    }
    .hijoFondo{
        color: white;
        position: relative;
    }
    .logo{
        width: 35vh;
        height: 13vh;
        position: absolute;
        left: 83%;
    }
    .logoFooter{
        width: 35vh;
        height: 13vh;
        position: absolute; 
        right: 95%;
    }
/*==================================== TITULOS =========================*/ 
.tituloBoton{
    left: 60%;
    position: absolute;
    letter-spacing: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*====================================== CLASES PARA NAV ======================================*/
header{
    /* background: linear-gradient( to right, #ec936a, #df653c, #d25035 ); */
    /* background: url(../img/fondoDefNav2.png) no-repeat center center;
    background-size: cover;
    opacity:0.8; */
    background: #fff;
    opacity: 0.9;
    width: 100%;
    content: "";
    clear:both;
    display: table;
    margin-bottom: 20px;
}
nav{
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li{
    list-style: none;
    margin-left: 60px;
    padding: 25px 0;
    float: left;
}
nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
}
nav ul li a::before{
width: 100%;
background: rgba(179, 180, 241, 0.24);
height: 5px;
top: 0;
position: absolute;
}
/*================================= Transiciones Hover ===================================*/
/* .hoverNav:hover{
    transform: scale(1.00);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: all 1s;
}
.btn.uno:hover::after{
    left: 0;
    } */
    
    .transicionHover:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px rgb(114, 113, 113);
        border: 1px solid rgb(12, 12, 12);
        transition: all 1s;
        
    }
    
    .bandera{
        transform: scale(1.05);
        box-shadow: 0px 0px 20px rgb(114, 113, 113);
        border: 1px solid rgb(12, 12, 12);
        transition: all 1s;
    }
/*====================================== CLASES BOTONES =========================*/
.btn{
    display: inline-flex;
    width: 30vh;
    height: 40px;
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364); 
font-size: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
align-items: center;
justify-content: center;
border: none;
cursor: pointer;
text-transform: uppercase;
transition: .3s ease all;
border-radius: 5px;
position: relative;
font-weight: 500;
left: 75%;
top: 17vh;
overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    color: white;
}
.btn .uno::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 40px);
    border-right: 0px solid transparent;
    border-bottom:40px solid rgb(55, 252, 120);
    transition: .4s ease-in-out all;
    }
/*============================ GENERALES ============================*/
a{
    text-decoration: none;
}
.borde{
    border: 3px solid #fff;
   
}
.text{
    width: 100%;
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
}
/*=========================== IMAGENES =====================/*
/*CLASE PARA CARRUSEL*/
.img-car{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    }
/*IMAGENES*/
.img{
    width: 100%;
    height: 200px;
}
.img2{
    width: 150px;
height: 150px;
}

/*====================================== FOOTER =============================*/
footer{
    position: absolute;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, rgb(19, 18, 18), rgb(53, 51, 51) );
    color: rgb(206, 206, 205);
    
}
.containerCopy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
}
.copy{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}
.footerMenu{
display: flex;
justify-content: space-between;
align-items: flex-start;
width: 40%;
}

.footerContainer{
height: fit-content;
width: 100%;
padding: 3rem 6rem;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: flex-start;
}
.footerContainerContenido{
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
width: 20%;
}
.footerInfo, .itemFooter{
margin: 0.2rem 0;
opacity: 0.7;
color: rgb(255, 255, 255);
text-decoration: none;
transition: 0.5s;
}
.itemFooter:hover{
    opacity: 1;
}

.menuTitulo{
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
margin-bottom: 1.2rem;
}
.socialContainer{
display: flex;
justify-content: center;
align-items: center;
height: 30px;
width: 100px;
}
.socialLink{
    height: 60px;
    width: 30px;
    font-size: 60px;
}
.socialLink:hover{
    opacity: 0.7;
}
.socialLink1:hover{
    opacity: 0.7;
}
.socialLink2:hover{
    opacity: 0.7;
}
.iconoFooter2{
    margin: 25px;
}
/* footer .socialLink:nth-of-type(2){
    background-image: url(../img/twitterLogo2.png);
}
footer .socialLink:nth-of-type(2){
    background-image: url(../img/linkLogo.png);
} */

/* .fondoBoton3{
    background: url(../img/card3.jpg) no-repeat center center;
    min-height: 40vh;
    background-size: cover;
}
.fondoBoton3::before{
    content: "";
    width: 100%;
    height: 40vh;
    position: absolute;
    background: linear-gradient(-45deg, #dd3e54, #6be585); 
    opacity: 0.8;
} */

