* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .body{
    overflow-y: hidden;
  }
  /*====================================== CLASES PARA NAV ======================================*/
  header {
    background: #fff;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    height: 12vh;
    margin: auto 0;
    justify-content: space-evenly;
    gap:5rem;
    z-index: 2;
  }

  header nav {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 70%;
    align-items: center;
    justify-content: center;
    display: none;
  }
  header nav ul {
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 100%;
    justify-content: space-around;
  }
  header nav ul li {
    display: flex;
    list-style: none;
    text-align: center;
  }
  header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: calc(.8rem + .5vw);
  }

  /*==================   SPAN  ======================== */
  .spanMenuHamburguer{
    display: flex;
    align-items: center;
    position: absolute;
    height: 88vh;
    width: 100%;
    z-index: 1;
    transition: transform .7s ease-in-out;
    background-color: rgb(114, 113, 113,.7);

  }

  .translate{
    transform: translateY(-100%);
  } 

  .spanMenuHamburguer__ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 70vh;
    width: 100%;
  }

  .spanMenuHamburguer__li{
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 50%;
    height: 10vh;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px groove #fbfbfb;
    box-shadow: 2px 2px 7px #333;
    box-sizing: border-box;

  }

  .spanMenuHamburguer__link{
    color: #fbfbfb;
    font-size: 1.1rem;
  }

  .spanMenuHamburguer__link:hover{
    text-decoration: underline;
    color: #fbfbfb;
  }

  .logo-consultora{
    width: 40%;
    height: 14vh;
  }

  .menuAmburguer__container{
    width: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    align-self: center;
  }

  .menuAmburguer{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .65rem;
    justify-content: center;
  }

  .menuAmburguer div{
    background-color: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
  }  

  .menuAmburguer:hover div:first-child{
    transform:rotate(34deg)
  }

  .menuAmburguer:hover div:nth-child(2){
    opacity: 0;
  }

  .menuAmburguer:hover div:last-child{
    transform:rotate(-34deg);
  }
  /*================================= CLASES PARA INDEX ==========================================*/
  .bgIndexTiutlo {
    background: rgb(93, 93, 93);
  }
  .textoIndex {
    display: flex;
    position: relative;
    height: 24vh;
    align-items: center;
    justify-content: center;
  }
  .textoIndex .textoIndex2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    color: #b0e9ec;
    display: flex;
    justify-content: center;
  }

  #textoIndex2{
    font-size: calc(2vw + .4rem);
    width: 90%;
  }

  /*=============== COMIENZA EL CARRUSEL =====*/
  
  .carruselContenedor {
    height: 50vh;
    position: relative;
  }

  .carousel-inner{
    height: 100%;
  }

  .carousel-item{
    height: 100%;
  }

  .imgCarruselBusquedas{
    height: 100%;
    width: 100%;
  }

  .containerCarrusel .containerTextoCarrusel{
    background: rgba(5, 7, 12, 0.75);
    position:absolute;
    width: 45%;
    height: 50%;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffcfc;
  }
  .containerTextoCarrusel{
    display: flex;
    text-align: center;
    justify-content: center ;
    background: rgba(5, 7, 12, 0.75);
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffcfc;
  }
  
  #containerTextoCarrusel{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    font-size: calc(2vw + .4rem);
    gap: .2rem;
  }

  .containerCarrusel .palabraCarrusel1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0;

  }
  .containerCarrusel .palabraCarrusel3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #fbb167;
    margin: 0;
  }
  /*============= FIN CARRUSEL ============*/
  
  .preguntaIndex {
    font-family: "Times New Roman", Times, serif;
    font-size: calc(2vw + .4rem);
    background: #333;
    letter-spacing: 5px;
    color: #fff;
    padding: 20px;
  }
  .container1 {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background: #ffffff;
  }
  .container1 .card1 {
    position: relative;
    width: 315px;
    height: 55vh;
    margin: 20px;
  }
  .container1 .card1 .cara1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    background: #CECECD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .container1 .card1 .cara1 .img {
    width: 100%;
    height: 60%;
  }
  .container1 .card1 .front {
    transform: perspective(600px) rotateY(0);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }
  #text-cards{
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .container1 .card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background-size: cover;
    padding: 15px;
    font-size: calc(.85vw + .7rem);
    color: #0e0d0d;
    display: flex;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .container1 .card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .container1 .card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .containerSegundaFrase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38vh;
  }
  .containerSegundaFrase .segundaFrase {
    width: 50%;
    height: 100%;
    background: #333;
  }
  .containerSegundaFrase .textoFrase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    padding: 0.5rem;
  }
  .containerSegundaFrase .textoFrase .fraseIndex {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px;
    font-size: calc(2vw + .4rem);
  }
  .containerSegundaFrase .imgIndex2 {
    background: url(../img/imgINDEX3.png) no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 100%;
  }

  .containerBotonIndex {
    background: linear-gradient(to right, #ffefba, #ffffff);
    height: 30vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .containerBotonIndex h4 {
    padding: 10px;
    font-size: calc(2vw + .4rem);
    margin: 5px;
  }
  .containerBotonIndex .btn {
    display: inline-flex;
    width: 30vh;
    height: 40px;
    background: linear-gradient(to left, rgb(19, 18, 18), rgb(53, 51, 51));
    font-size: calc(2vw + .4rem);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease all;
    border-radius: 5px;
    font-weight: 500;
    overflow:hidden ;
  }
  .containerBotonIndex .btn span {
    position: relative;
    color: white;
  } 
  /*================================= CLASES PARA NOSOTROS ==========================================*/
  .sectionVision{
    background-color: #333;
  }
  .containerVision {
    text-align: center;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    min-height: 250px;
    position: absolute;
    top: 12vh;
  }
  .containerVision .InfoVisionTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .containerVision .InfoVisionTexto .fraseNosotros2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    font-size: calc(.2rem + .9rem);
    padding: 10vh 4vh;
    text-align: center;
    margin: 0;
  }
  .containerVision::before {
    content: "";
    width: 100%;
    min-height: 35vh;
    position: absolute;
    background: #0e0d0d;
    opacity: 0.5;
  }

  .textoNosotrosVision__container{
    display: flex;
    flex-direction: column-reverse;
  }

  .textoNosotrosVision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    padding: 0 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(1vw + .4rem);
    width: 100%;
    gap: 1rem;
    text-align: center  ;
    background: #333;
  }

  .textoNosotrosVision p{
    margin: 0;
  }

  .textoNosotrosVision .preguntaNosotros {
    color: #ffefba;
  }
  .imgEquipo {
    width: 100%;
    height: 35vh;
  }

  /* =============== FUNDADORA ============= */

  .fundadoraContainer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
  }
  .fundadoraContainer .infoFundadora {
    width: 80%;
    gap: .5rem;
    font-size: calc(1vw + .6rem);
    text-align: center;
    order: 1;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .fundadoraContainer .infoFundadora h2{
    font-size: calc(1vw + .8rem);
   }
  .fundadoraContainer .infoFundadora .bordeValores {
    border-top: 3px solid #333;
    padding: .7rem 0;
    text-justify: distribute;
  }
  .fundadoraContainer .textoFundadora {
    padding-top: .7rem;
    width: 80%;
    text-align: center;
    order: 3;
    font-size: calc(1vw + .6rem);
  }
  .imagenCeci{
    order: 2;
  }
  .fundadoraContainer .imgFundadora {
    width: 300px;
    height: 200px;
    border-radius: 50%;
  }

  .fundadoraContainer .imgFundadora {
    width: 300px;
    height: 200px;
    border-radius: 50%;
  }
  /*=========== VALORES ==============*/
  .fondoValores {
    background: #333;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .fondoValores .Titulos2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
     font-size: calc(1vw + .5rem);
  }
  .fondoValores .Titulos3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
     font-size: calc(1vw + .9rem);
  }
  .textoValores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4% 5% 0 5%;
    text-align: center;
     font-size: calc(1vw + .5rem);
  }
  .col{
    padding:3%;
  }
  .cardContainerNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .cardContainerNosotros .cardNosotros {
    height:73vh;
    width:75vw;
    background: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     font-size: calc(1vw + .5rem);
  }
  .cardContainerNosotros .cardNosotros .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cardContainerNosotros .cardNosotros .imgValores {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .cardContainerNosotros .cardNosotros .cardNosotrosTitulo {
      font-size: calc(2vw + .8rem);
    font-weight: 300;
  }
  .cardContainerNosotros .cardNosotros .card-text1 {
    letter-spacing: 2px;
    border-top: 3px rgb(235, 171, 74) solid;
    margin: 10px;
  }
  .bordeValores2 .tituloClientes {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: calc(2vw + .8rem);
    font-family: "Montserrat", sans-serif, ExtraLight 200;
  } 

  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .sliderTrack {
    display: flex;
    align-items: center;
    animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    width: 2800px;
  }
  .slider .sliderTrack .slide {
    width: 200px;
    margin: 15px;
    padding: 15px;
  }
  .slider .sliderTrack .slide img {
    width: 100%;
    height: 10vh;
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-1400px);
      transform: translateX(-1400px);
    }
  }
/*================================= CLASES BUSQUEDAS ==========================================*/
.containerBusquedasTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #333;
  }
  .containerBusquedasTitulo .fondoBusquedas {
    background: url(../img/fondoBusquedas.jpg) no-repeat center center;
    height: 25vh;
    width: 100%;
    background-size: cover;
  }
  .containerBusquedasTitulo .infoBusquedas .infoBusquedas2 h2 {
    padding: 10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2vw + .4rem);
  }
  
  .fondoBusquedas::before {
    content: "";
    width: 100%;
    height: 25vh;
    position: absolute;
    background: black;
    opacity: 0.5;
  }
  .fondoBusquedas2 {
    width: 45%;
    height: 100%;
  }
  .fondoBusquedas2 .infoBusquedas3 {
    width: 100%;
    color: #ffff;
    text-align: center;
    font-size: calc(1vw + .4rem);
    padding: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .fondoBusquedas2 .infoBusquedas3 .bordeBusquedas {
    border-bottom: solid 2px white;
  }
  .tituloPropuestas{
    width: 100%;
    height: 7vh;
    background: linear-gradient(to right, #000428, #004e92);
  }
  .tituloPropuestas h4{
    font-size: calc(1vw + .4rem);
    text-align: center;
    color: rgb(255, 240, 240);
    padding: 2vh;
  }
  .conteinerBusquedas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffe5e5;
  }
  .conteinerBusquedas .referenciasBusquedas{
    padding: 2vh 3vw;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #0e0d0d;
  }
  .conteinerBusquedas .referenciasBusquedas h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(1vw + .8rem);
  }
  .conteinerBusquedas .referenciasBusquedas .propuestasBusquedas{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
     align-items: center;
  }
  .conteinerBusquedas .referenciasBusquedas .propuestasBusquedas p{
    font-size: calc(.1rem + .6rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
  }
  .conteinerBusquedas .referenciasBusquedas .propuestasBusquedas .btn2{
    display: inline-flex;
    font-size: calc(.1rem + .5rem);
    width: 25%;
    height: 40px;
    background: linear-gradient(to right, #396afc, #2948ff);
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
  }
  .conteinerBusquedas .referenciasBusquedas .propuestasBusquedas .btn2 a{
    font-style: none;
    color: #c6fcff;
  }
     /*================================= CLASES PARA CONTACTO ==========================================*/
     .fondoContacto {
      background: linear-gradient(to right, #232526, #414345);
       }
       .fondoContacto .contenedorContactoTitulo{
      display: flex;
      height: 20vh;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      padding: 5%;
      font-size: calc(2vw + .4rem);
      font-family: Arial, Helvetica, sans-serif;
       }
       .fondoContacto .contenedorContactoTitulo .fraseContacto{
         width: 100%;
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
         color: #fff;
         font-size: calc(1vw + .4rem);
       }
      .contenidoContacto{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
       padding: 1vw;
       background: url(../img/contact2.jpg) no-repeat center center;
       background-size: cover;
     }
     .contenidoContacto::before{
      content: "";
      width: 100%;
      height: 95%;
      position: absolute;
      background: black;
      opacity: 0.6;
     }
      .contenidoContacto .infoContacto{
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
     }
       .contenidoContacto .infoContacto .caja{
       width: 65%;
       height: 30vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin: 1vw;
       padding: 0 2vw;
       color: #ffffff;
     
     }
      .contenidoContacto .infoContacto .caja .socialLink{
       font-size: calc(7vw + .4rem);
     }
    #textoContacto{
      font-size: calc(3vw + .2rem);
    }
    #textoContacto2{
      font-size: calc(3vw + .2rem);
    } 
    .contenidoContacto .infoContacto .caja .socialLink a{
      color: #4effed;
    }
  /*================================= CLASES COMPARTIDAS ==========================================*/
  .hijoFondo{
    color: white;
    position: relative;
}
.transicionHover:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(114, 113, 113);
    border: 1px solid rgb(12, 12, 12);
    transition: all 1s;
  }
  a{
    text-decoration: none;
  }
