* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .body{
    overflow-y: hidden;
  }
  /*====================================== CLASES PARA NAV ======================================*/
  header {
    background: #fff;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    height: 12vh;
    margin: auto 0;
    justify-content: space-evenly;
    gap:5rem;
    z-index: 2;
  }

  header nav {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 70%;
    align-items: center;
    justify-content: center;
    display: none;
  }
  header nav ul {
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 100%;
    justify-content: space-around;
  }
  header nav ul li {
    display: flex;
    list-style: none;
    text-align: center;
  }
  header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: calc(.8rem + .5vw);
  }

  /*==================   SPAN  ======================== */
  .spanMenuHamburguer{
    display: flex;
    align-items: center;
    position: absolute;
    height: 88vh;
    width: 100%;
    z-index: 1;
    transition: transform .7s ease-in-out;
    background-color: rgb(114, 113, 113,.7);

  }

  .translate{
    transform: translateY(-100%);
  } 

  .spanMenuHamburguer__ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 70vh;
    width: 100%;
  }

  .spanMenuHamburguer__li{
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 50%;
    height: 10vh;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px groove #fbfbfb;
    box-shadow: 2px 2px 7px #333;
    box-sizing: border-box;

  }

  .spanMenuHamburguer__link{
    color: #fbfbfb;
    font-size: 1.1rem;
  }

  .spanMenuHamburguer__link:hover{
    text-decoration: underline;
    color: #fbfbfb;
  }

  .logo-consultora{
    width: 40%;
    height: 14vh;
  }

  .menuAmburguer__container{
    width: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    align-self: center;
  }

  .menuAmburguer{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .65rem;
    justify-content: center;
  }

  .menuAmburguer div{
    background-color: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
  }  

  .menuAmburguer:hover div:first-child{
    transform:rotate(34deg)
  }

  .menuAmburguer:hover div:nth-child(2){
    opacity: 0;
  }

  .menuAmburguer:hover div:last-child{
    transform:rotate(-34deg);
  }
  /*================================= CLASES PARA INDEX ==========================================*/
  .bgIndexTiutlo {
    background: rgb(93, 93, 93);
  }
  .textoIndex {
    display: flex;
    position: relative;
    height: 24vh;
    align-items: center;
    justify-content: center;
  }
  .textoIndex .textoIndex2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    color: #b0e9ec;
    display: flex;
    justify-content: center;
  }

  #textoIndex2{
    font-size: calc(2vw + .4rem);
    width: 90%;
  }

  /*=============== COMIENZA EL CARRUSEL =====*/
  
  .carruselContenedor {
    height: 50vh;
    position: relative;
  }

  .carousel-inner{
    height: 100%;
  }

  .carousel-item{
    height: 100%;
  }

  .imgCarruselBusquedas{
    height: 100%;
    width: 100%;
  }

  .containerCarrusel .containerTextoCarrusel{
    background: rgba(5, 7, 12, 0.75);
    position:absolute;
    width: 45%;
    height: 50%;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffcfc;
  }
  .containerTextoCarrusel{
    display: flex;
    text-align: center;
    justify-content: center ;
    background: rgba(5, 7, 12, 0.75);
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffcfc;
  }
  
  #containerTextoCarrusel{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    font-size: calc(2vw + .4rem);
    gap: .2rem;
  }

  .containerCarrusel .palabraCarrusel1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0;

  }
  .containerCarrusel .palabraCarrusel3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #fbb167;
    margin: 0;
  }
  /*============= FIN CARRUSEL ============*/
  
  .preguntaIndex {
    font-family: "Times New Roman", Times, serif;
    font-size: calc(2vw + .4rem);
    background: #333;
    letter-spacing: 5px;
    color: #fff;
    padding: 20px;
  }
  .container1 {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background: #ffffff;
  }
  .container1 .card1 {
    position: relative;
    width: 315px;
    height: 55vh;
    margin: 20px;
  }
  .container1 .card1 .cara1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    background: #CECECD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .container1 .card1 .cara1 .img {
    width: 100%;
    height: 60%;
  }
  .container1 .card1 .front {
    transform: perspective(600px) rotateY(0);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }
  #text-cards{
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .container1 .card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background-size: cover;
    padding: 15px;
    font-size: calc(.85vw + .7rem);
    color: #0e0d0d;
    display: flex;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .container1 .card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .container1 .card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .containerSegundaFrase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38vh;
  }
  .containerSegundaFrase .segundaFrase {
    width: 50%;
    height: 100%;
    background: #333;
  }
  .containerSegundaFrase .textoFrase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    padding: 0.5rem;
  }
  .containerSegundaFrase .textoFrase .fraseIndex {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px;
    font-size: calc(2vw + .4rem);
  }
  .containerSegundaFrase .imgIndex2 {
    background: url(../img/imgINDEX3.png) no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 100%;
  }

  .containerBotonIndex {
    background: linear-gradient(to right, #ffefba, #ffffff);
    height: 30vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .containerBotonIndex h4 {
    padding: 10px;
    font-size: calc(2vw + .4rem);
    margin: 5px;
  }
  .containerBotonIndex .btn {
    display: inline-flex;
    width: 30vh;
    height: 40px;
    background: linear-gradient(to left, rgb(19, 18, 18), rgb(53, 51, 51));
    font-size: calc(2vw + .4rem);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease all;
    border-radius: 5px;
    font-weight: 500;
    overflow:hidden ;
  }
  .containerBotonIndex .btn span {
    position: relative;
    color: white;
  } 
  /*================================= CLASES PARA NOSOTROS ==========================================*/
  .containerVision {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    background: url(../img/imgMuestra.jpg) no-repeat center center;
    min-height: 250px;
    background-size: cover;
  }
  .containerVision .InfoVisionTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .containerVision .InfoVisionTexto .fraseNosotros2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    margin: 30px;
    padding: 20px;
  }
  .containerVision::before {
    content: "";
    width: 100%;
    min-height: 250px;
    position: absolute;
    background: #0e0d0d;
    opacity: 0.2;
  }
  .textoNosotrosVision {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    width: 70%;
    background: #333;
  }
  .textoNosotrosVision .preguntaNosotros {
    color: #ffefba;
  }
  .textoNosotrosVision .conteinerImgNosotros {
    width: 30%;
  }
  .textoNosotrosVision .conteinerImgNosotros .imgEquipo {
    position: relative;
    left: 60%;
    height: 577px;
    width: 600px;
  }
  .fundadoraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    color: black;
  }
  .fundadoraContainer .infoFundadora {
    width: 40%;
    margin: 10px;
    padding: 0px 0px 10px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .fundadoraContainer .infoFundadora .bordeValores {
    border-top: 3px solid #333;
  }
  .fundadoraContainer .textoFundadora {
    width: 60%;
    margin: 20px;
    padding: 10px;
  }
  .fundadoraContainer .imgFundadora {
    position: relative;
    left: -10%;
    width: 300px;
    height: 200px;
    top: 10px;
    border-radius: 50%;
    margin: 10px;
  }
  .fondoValores {
    background: #333;
    min-height: 170px;
  }
  .fondoValores .Titulos2 {
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
  }
  .fondoValores .Titulos3 {
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .textoValores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    letter-spacing: 2px;
    height: 20px;
  }
  .cardContainerNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .cardContainerNosotros .cardNosotros {
    background: #ffffff;
    height: 500px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
  }
  .cardContainerNosotros .cardNosotros .imgValores {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .cardContainerNosotros .cardNosotros .cardNosotrosTitulo {
    letter-spacing: 5px;
    font-weight: 300;
  }
  .cardContainerNosotros .cardNosotros .card-text1 {
    letter-spacing: 2px;
    border-top: 3px rgb(235, 171, 74) solid;
    margin: 10px;
  }
  .bordeValores2 {
    border-top: solid 3px #333;
  }
  .bordeValores2 .tituloClientes {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif, ExtraLight 200;
    letter-spacing: 3px;
  }
  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .sliderTrack {
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: 2800px;
  }
  .slider .sliderTrack .slide {
    width: 200px;
    margin: 15px;
    padding: 15px;
  }
  .slider .sliderTrack .slide img {
    width: 100%;
    height: 80px;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-1400px);
      transform: translateX(-1400px);
    }
  }
 
  /*================================= CLASES PARA NOSOTROS ==========================================*/
  .containerVision {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    background: url(../img/imgMuestra.jpg) no-repeat center center;
    min-height: 250px;
    background-size: cover;
  }
  .containerVision .InfoVisionTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .containerVision .InfoVisionTexto .fraseNosotros2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    margin: 30px;
    padding: 20px;
  }
  .containerVision::before {
    content: "";
    width: 100%;
    min-height: 250px;
    position: absolute;
    background: #0e0d0d;
    opacity: 0.2;
  }
  .textoNosotrosVision {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    width: 70%;
    background: #333;
  }
  .textoNosotrosVision .preguntaNosotros {
    color: #ffefba;
  }
  .textoNosotrosVision .conteinerImgNosotros {
    width: 30%;
  }
  .textoNosotrosVision .conteinerImgNosotros .imgEquipo {
    position: relative;
    left: 60%;
    height: 577px;
    width: 598px;
  }
  .fundadoraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    color: black;
  }
  .fundadoraContainer .infoFundadora {
    width: 40%;
    margin: 10px;
    padding: 0px 0px 10px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .fundadoraContainer .infoFundadora .bordeValores {
    border-top: 3px solid #333;
  }
  .fundadoraContainer .textoFundadora {
    width: 60%;
    margin: 20px;
    padding: 10px;
  }
  .fundadoraContainer .imgFundadora {
    position: relative;
    left: -10%;
    width: 300px;
    height: 200px;
    top: 10px;
    border-radius: 50%;
    margin: 10px;
  }
  .fondoValores {
    background: #333;
    min-height: 170px;
  }
  .fondoValores .Titulos2 {
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
  }
  .fondoValores .Titulos3 {
    top: 20px;
    padding: 0px 0px 10px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .textoValores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    letter-spacing: 2px;
    height: 20px;
  }
  
  .cardContainerNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .cardContainerNosotros .cardNosotros {
    background: #ffffff;
    height: 500px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
  }
  .cardContainerNosotros .cardNosotros .imgValores {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .cardContainerNosotros .cardNosotros .cardNosotrosTitulo {
    letter-spacing: 5px;
    font-weight: 300;
  }
  .cardContainerNosotros .cardNosotros .card-text1 {
    letter-spacing: 2px;
    border-top: 3px rgb(235, 171, 74) solid;
    margin: 10px;
  }
  .bordeValores2 {
    border-top: solid 3px #333;
  }
  .bordeValores2 .tituloClientes {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif, ExtraLight 200;
    letter-spacing: 3px;
  }

  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .sliderTrack {
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: 2800px;
  }
  .slider .sliderTrack .slide {
    width: 200px;
    margin: 15px;
    padding: 15px;
  }
  .slider .sliderTrack .slide img {
    width: 100%;
    height: 80px;
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-1400px);
      transform: translateX(-1400px);
    }
  }
/*================================= CLASES BUSQUEDAS ==========================================*/
.containerBusquedasTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
  }
  .containerBusquedasTitulo .fondoBusquedas {
    background: url(../img/fondoBusquedas.jpg) no-repeat center center;
    height: 300px;
    width: 45%;
    background-size: cover;
    position: relative;
    right: 100px;
  }
  .containerBusquedasTitulo .infoBusquedas .infoBusquedas2 h2 {
    margin: 20px;
    padding: 15px;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 55px;
    font-size: 45px;
  }
  
  .fondoBusquedas::before {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    background: black;
    opacity: 0.3;
  }
  .fondoBusquedas2 {
    width: 45%;
    height: 100%;
    margin: 20px;
  }
  .fondoBusquedas2 .infoBusquedas3 {
    width: 100%;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .fondoBusquedas2 .infoBusquedas3 .bordeBusquedas {
    border-bottom: solid 2px white;
  }

  .conteinerBusquedas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .conteinerBusquedas .cardBusquedas {
    position: relative;
    width: 460px;
    height: 800px;
    margin: 20px;
  }
  .conteinerBusquedas .cardBusquedas .caraBus {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
    background: #ffeede;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align:justify;
    padding: 10px;

  }
  .conteinerBusquedas .cardBusquedas .caraBus .imgBusuqedas {
    width: 100%;
    height: 120px;
    border-bottom: 10px solid rgb(255, 215, 215);
  }
  .conteinerBusquedas .cardBusquedas .frontBus {
    transform: perspective(600px) rotateY(0);
    font-family: Arial, Helvetica, sans-serif;
  }
  .conteinerBusquedas .cardBusquedas .frontBus .bordeBusquedasParrafo{
    border-bottom: 3px solid #333;
  }
  .conteinerBusquedas .cardBusquedas .backBus {
    transform: perspective(600px) rotateY(180deg);
    background-size: cover;
    padding: 15px;
    color: #0e0d0d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align:justify;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .conteinerBusquedas .cardBusquedas .backBus .bordeBusquedasParrafo2{
      border-top: 3px solid #333;
    }
  .conteinerBusquedas .cardBusquedas:hover .frontBus {
    transform: perspective(600px) rotateY(180deg);
  }
  .conteinerBusquedas .cardBusquedas:hover .backBus {
    transform: perspective(600px) rotateY(360deg);
  }

 
/*================================= CLASES PARA CONTACTO ==========================================*/
.fondoContacto {
    background: url(../img/fondoContacto2.jpg) no-repeat center center;
    min-height: 100vh;
    background-size: cover;
  }
  .fondoContacto .pagContacto {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .fondoContacto .pagContacto .contenidoContacto {
    max-width: 800px;
    text-align: center;
  }
  .fondoContacto .pagContacto .contenidoContacto2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .infoContacto .caja {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .caja .inconoContacto {
    position: relative;
    right: 50px;
    top: 50px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .caja .socialLink {
    height: 60px;
    width: 100px;
    font-size: 50px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .caja .socialLink a {
    color: rgb(103, 255, 204);
  }
  .fondoContacto .pagContacto .contenidoContacto2 .infoContacto .caja .textoContacto {
    display: flex;
    margin-left: 20px;
    font: 16px;
    color: rgb(206, 240, 253);
    flex-direction: column;
    font-weight: 300;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto {
    width: 40%;
    padding: 40px;
    background: #fff;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input:focus ~ span,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input:valid ~ span,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja textarea:focus ~ span,
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .fondoContacto .pagContacto .contenidoContacto2 .formularioContacto .inputCaja input[type=submit] {
    width: 100px;
    background: #d40000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  .fondoContacto::before {
    content: "";
    width: 100%;
    height: 114vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
  }
/*================================= CLASES PARA FOOTER ==========================================*/
footer {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to left, rgb(19, 18, 18), rgb(53, 51, 51));
  color: rgb(206, 206, 205);
}
footer .footerContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem;
}

footer .footerContainer .footerContainerContenido{
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

footer .footerContainer .footerContainerContenido .logoFooter {
  width: 100%;
  height: 15vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
footer .footerContainer .footerContainerContenido .logoFooter .logo2 {
  width: 100%;
  height: 10vh;
  align-self: center;
  position: relative;
  top:.5rem;
}

footer .footerContainer .footerContainerContenido .socialContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  align-self: center;
  gap:.7rem;
}
footer .footerContainer .footerContainerContenido .socialContainer .socialLink {
font-size: calc(1.5rem + 2vw);
}
footer .footerContainer .footerContainerContenido .socialContainer .socialLink a {
  color: rgb(103, 255, 204);
}
footer .footerContainer .footerContainerContenido .socialContainer .iconoFooter2 {
  gap:1rem;
}
  /*================================= CLASES COMPARTIDAS ==========================================*/
  .hijoFondo{
    color: white;
    position: relative;
}
.transicionHover:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(114, 113, 113);
    border: 1px solid rgb(12, 12, 12);
    transition: all 1s;
  }
  a{
    text-decoration: none;
  }
