@media screen and (min-width: 1000px) {
    .carruselContenedor {
      height: 70vh;
      position: relative;
    } 
    .containerCarrusel .containerTextoCarrusel{
      top: 80px;
      width: 38%;
    }
    .container1 .card1 {
        position: relative;
        width: 350px;
        height: 65vh;
        margin: 20px;
      }
    .container1 .card1 .back {
        font-size: calc(.62vw + .7rem);
      }
    .containerSegundaFrase .textoFrase .fraseIndex {
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      padding: 10px;
      font-size: calc(2vw + 0.1rem);
    }
    .containerBotonIndex {
      padding: 0.6rem 0;
    }
    .containerBotonIndex h4 {
      padding: 10px;
      font-size: calc(1vw + .7rem);
      margin: 5px;
    }
    .containerBotonIndex .btn {
        width: 30vh;
        height: 40px;
        font-size: calc(2vw + .1rem);
      }
      footer .footerContainer .footerContainerContenido .logoFooter .logo2 {
        width: 100%;
        height: 22vh;
      }
       /* ========================================== PAGINA NOSOTROS ========================================== */
  .containerVision {
    min-height: 40vh;
  }

  .containerVision .InfoVisionTexto .fraseNosotros2 {
    font-size: calc(1.2vw + .8rem);
  }
  .textoNosotrosVision__container{
    flex-direction: row;
  }
  .textoNosotrosVision {
    font-size: calc(1.2vw + .1rem);
    width: 100%;
    gap: 2rem;
  }
  .imgEquipo {
    width: 100%;
    height: 65vh; 
  }
  .fundadoraContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
    padding: 0;
  }
  .fundadoraContainer .textoFundadora {
    order: 2;
    width: 60%;
    padding: 0 1vw;
    }
    .fundadoraContainer .textoFundadora p{
      font-size: calc(.5rem + .4rem);
      }
   .fundadoraContainer .infoFundadora {
    font-size: calc(.6rem + .1rem);
    order:1;
    width: 40%;
   }
   .fundadoraContainer .infoFundadora h2{
    font-size: calc(.7rem + .5rem);
   }
  .fundadoraContainer .imagenCeci {
    order: 3;
    }
  .fundadoraContainer .textoFundadora {
    font-size: calc(1.2vw + .3rem);
     }
     .textoValores{
      font-size: calc(1.2vw + .1rem);
     }
     .cardContainerNosotros {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
    }
    .col{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
    }
    .cardContainerNosotros .cardNosotros {
    height:72vh;
    width:21vw;
    background: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content:center;
     font-size: calc(.3rem + .3rem);
  }
  .cardContainerNosotros .cardNosotros .imgValores {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .cardContainerNosotros .cardNosotros .cardNosotrosTitulo {
      font-size: calc(2vw + .2rem);
    font-weight: 300;
  }
  .bordeValores2 {
    border-top: solid 3px #333;
  }
  .bordeValores2 .tituloClientes{
    font-size: calc(2vw + .5rem);
  }
         /*================================= CLASES PARA CONTACTO ==========================================*/
  }