@media screen and (min-width:640px){
    header{
        gap:0;
    }
    header nav{
        display: flex;
    }
    header nav ul{
        display: flex;
        justify-content: space-between;
    }
    .menuAmburguer__container{
        display: none;
        width: 5%;
    }
    .logo-consultora{
        width: 20%;
    }
    .carruselContenedor {
        height: 70vh;
        position: relative;
      } 
      .containerCarrusel .containerTextoCarrusel{
        top: 80px;
        width: 38%;
      }
      .container1 .card1 .back {
        font-size: calc(.55vw + .7rem);
      }
      .containerSegundaFrase .textoFrase .fraseIndex {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        padding: 10px;
        font-size: calc(2vw + 0.1rem);
      }
      .containerBotonIndex {
        padding: 0.6rem 0;
      }
      .containerBotonIndex h4 {
        padding: 10px;
        font-size: calc(2vw + 0.2rem);
        margin: 5px;
      }
      .containerBotonIndex .btn {
        width: 30vh;
        height: 40px;
        font-size: calc(2vw + .1rem);
      }
 /* ========================================== PAGINA CONTACTO ========================================== */
 .fondoContacto .pagContacto {
  padding: 30px 45px;
}
.fondoContacto::before {
  height: 131vh;
}
}